<p id="notice"><%= notice %></p>
<div class="list">
<p>
  <b>List name:</b>
  <%= @list.name %> <%= link_to 'Edit', edit_list_path(@list) %> 
</p>
<div class="todos">
  <%= render @list.todos %>
</div>

<p><b>Add a todo:</b></p>
<%= form_for([@list, @list.todos.build]) do |f| %>
  <div class="field" style="margin-left:10px">
    <%= f.label :description %>
    <%= f.text_field :description %>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
  </div>
<% end %>

<%= link_to 'Back to all lists', lists_path %>
</div>
